package @package@;

public final class BuildConfig
{
    public static final String NAME = "@name@";
    public static final String URL = "@url@";
    public static final String VERSION = "@version@";
    public static final String BUILD_TIME = "@buildTime@";
    public static final boolean DEBUG = @debug@;
}
